body{
    padding: 0;
    margin: 0;
    overflow-x: hidden;
    //font-family: 'Roboto Mono', sans-serif;
    font-family: 'Ubuntu', sans-serif;
    //font-family: 'Raleway', sans-serif;
    //font-family: 'Merriweather', serif;
}

html{
    scroll-behavior: smooth;
    font-size: 60%;
}




//navigation bar
nav{
    display: flex;
    background-color: #7468d1;
    position: fixed;
    width: 100vw;
    z-index: 10;
    align-items: center;
}

nav > a{
    text-decoration: none;
    font-size: 2.1rem;
    padding: 0.5rem;
    color: rgb(255, 255, 255);
    margin: 0.7rem 0.7rem;
    font-weight: 100;
    transition: 0.3s ease;
}

nav > a:hover{
    color: rgb(22, 22, 22);
}



//introduction section
.introduction{
    padding: 3rem 1rem 0rem 1rem;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    //background: linear-gradient(-30deg, #d20019a5, #7462ffa4, #f48e21ae);
    //background: linear-gradient(-30deg,#E94560, #1A1A2E, #16213E, #0F3460,#E94560);
    // background: linear-gradient(-30deg,#222831,#30475E,#F05454);
    // background-size: 300% 300%;
    // animation: color 12s ease-in-out infinite;
    color: antiquewhite;
}

//background gradient animation
.anim-container{
    height: 100vh;
    width: 100%;
    //background: linear-gradient(-30deg,#222831,#30475E,#F05454);
    background: linear-gradient(-30deg, #8f0213, #473c9fc8, #a56016d2);
    background-size: 200% 200%;
    animation: color 20s ease-in-out infinite;
}

.anim-container-1{
    height: 100vh;
    width: 100%;
    //background: linear-gradient(30deg,#222831,#30475E,#F05454);
    background: linear-gradient(-30deg, #713038, #463d81, #1babf485);
    background-size: 200% 200%;
    animation: color 200s ease-in-out infinite;
}

@keyframes color{
    0%{
        background-position: 0 50%;
    }
    50%{
        background-position: 100% 50%;
    }
    100%{
        background-position: 0 50%;
    }
}
//////


.photoandtext{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    font-size: 2rem;
    margin-bottom:3rem ;
    text-align: center;
    margin-right: 2.4rem;

    transition: 0.4s;
}

.photoandtext p{
    opacity: 0.7;
    margin-top: 1rem;
    font-size: 1.6rem;
    //font-family: 'Courier New', Courier, monospace;
    font-weight: 200;
}

.introduction > p{
    font-size: 2rem;
    margin-right: 2rem;
    text-align: center;
    opacity: 0.8;
    font-weight: 300;
    padding: 0 1rem;
}

.my-picture{
    width: 18rem;
    border-radius: 6%;
}






//projects section
.projects{
    background-color: #353243;
    color: rgb(255, 255, 255);
    padding-bottom: 10rem;
}

.projects > h1{
    margin: 0;
    font-weight: 400;
    text-align: center;
    font-size: 3.4rem;
    opacity: 0.9;
    padding: 7rem 0rem 4rem 0;
}

.projects a{
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-weight: 300;
    margin-top: 2rem;

}

.project-thumbnail{
    width: 30rem;
    border-radius: 5%;
    box-shadow: 0px 0px 15px black;
    transition: 0.2s;
}

 .project-thumbnail:hover{
     transform: scale(1.03);
     transition: 0.2s;
 }

.grid-container{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  grid-gap: 7rem;
  width: 100%;
  max-width: 1500px;
  margin: 0 auto;
  margin-bottom: 6rem;
}

.grid-container > a{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.grid-container > a > p{
    max-width: 30rem;
    text-align: center;
    margin: 0;
    font-size: 1.6rem;
    opacity: 0.8;
}

.grid-container > a >h2{
    margin: 1rem 0 1rem 0;
    font-size: 2.7rem;
}




// contact info 
.contact-info{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0;
    text-align: center;
}

.contact-info > h1{
    margin: 0;
    color:rgb(255, 255, 255) ;
    font-size: 3.4rem;
    opacity: 0.85;
    margin-right: 2rem;
}

.media-links{
    display: flex;
    margin-top: 2rem;
    align-items: center;
    justify-content: center;
    flex-wrap:wrap ;
}

.media-link > a{
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-size: 1.4rem;
    padding: 2rem;
}

.media-link img{
    width: 150px;
    height: auto;
    transition: 0.3s;
}

.link-img:hover{
    transform: rotate(-5deg);
    transition: 0.3s ease;
}



$desktop: 1200px;
$tablet: 810px;
$phone: 429px;

//media queries

@media only screen and (min-width: $phone) and (max-width: $tablet){
    html{
        font-size: 65%;
    }
    nav > a{
        margin-right: 4rem;
        margin-left: 2rem;
    } 
    .my-picture{
       width: 22rem;
    }
    .introduction{
        padding: 1rem;
    }
    .introduction > p{
        padding: 0 20vw;
        margin: 0;
    }
    nav{
       justify-content: space-around;
    }

   
}

@media only screen and (min-width: $tablet) and (max-width: $desktop){
   html{
       font-size: 80%;
   }
   nav > a{
       margin-right: 3rem;
       margin-left: 2rem;
   } 
   .my-picture{
      width: 18rem;
   }
   .introduction{
       padding: 1rem;
   }
   .introduction > p{
       padding: 0 3vw;
       margin: 0;
   }
   nav{
       justify-content: space-around;
   }
   .grid-container{
       margin: 0 auto;
   }
   
}

@media only screen and (min-width: $desktop){
   html{
       font-size: 100%;
   }
   nav > a{
       margin-right: 4rem;
       margin-left: 2rem;
   } 
   .my-picture{
      width: 20rem;
   }
   .introduction{
       padding: 1rem;
   }
   .introduction > p{
       padding: 0 20vw;
       margin: 0;
   }
   nav{
       justify-content: space-around;
   }
   .grid-container{
       margin: 0 auto;
   }

}

@media only screen and (max-width: $phone){
   .grid-container{
       justify-content: center;
   }
   
}
